<section class="mx-auto w-50 bg-main-light shadow rounded p-3 mt-5" *ngIf="step1">
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <label for="New Password" >email :</label>
    <input type="email" id="email" class="form-control my-3" placeholder="enter your email..." formControlName="email">
    <button class="btn-main w-100 "> Forget Password</button>
    <p class="alert alert-danger p-1 mx-auto w-75 my-2 text-center" *ngIf="userMsg">{{userMsg}}</p>
  </form>
</section>


<section class="mx-auto w-50 bg-main-light shadow rounded p-3 mt-5" *ngIf="step2">
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <label for="RestCode" >Rest Code :</label>
    <input type="text" id="RestCode" class="form-control my-3"formControlName="resetCode">
    <button class="btn-main w-100 "> Send Reset Code</button>
      <p class="alert alert-danger p-1 mx-auto w-75 my-2 text-center" *ngIf="userMsg">{{userMsg}}</p>
  </form>
</section>
<section class="mx-auto w-50 bg-main-light shadow rounded p-3 mt-5" *ngIf="step3">
  <form [formGroup]="resetNewPasswordForm" (ngSubmit)="resetPasswordd()">
    <label for="NewPassword" >New Password :</label>
    <input type="password" id="NewPassword" class="form-control my-3" placeholder="enter New Password..." formControlName="resetPassword">
    <button class="btn-main w-100 "> Set The New Password</button>
      <p class="alert alert-danger p-1 mx-auto w-75 my-2 text-center" *ngIf="userMsg">{{userMsg}}</p>
  </form>
</section>
