<section  class="container-fluid mt-5 py-5 footer ">
  <div class="container">
    <div class="row d-flex justify-content-center">





    <div class="col-md-4">
      <div class="d-flex justify-content-center">
        <div ><i class="fa-solid fa-location-dot fs-2 me-2 mt-1" style="color: #1e7812;"></i></div>
        <div class="contact">
          <h6>Find Us</h6>
          <p>Egypt</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex justify-content-center">
        <div ><i class="fa-solid fa-phone fs-2 me-2 mt-1" style="color: #1e7812;"></i></div>
        <div class="contact">
          <h6>Call Us</h6>
          <p>+2122232454145</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex justify-content-center">
        <div><i class="fa-regular fa-envelope fs-2 me-2 mt-1" style="color: #1e7812;"></i></div>
        <div class="contact">
          <h6>Mail Us</h6>
          <p>fesh.cart@gmail.com</p>
        </div>
      </div>
    </div>

    <hr class="my-3">

     <div class="col-md-4">
      <div>
      <img src="./assets/images/freshcart-logo.svg" class="w-50 my-3" alt="fresh cart"/>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, quaerat!</p>
    </div>

    </div>


    <div class="col-md-4">
      <div class="mt-4">
        <h5 class="fw-bold">Contact Us On Social Media:</h5>
      <div class="pe-5">
        <ul class="list-unstyled d-flex justify-content-center align-items-center fs-5 styled-nav">
          <li class="nav-item px-2 ">
            <a class="nav-link" href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="https://www.tiktok.com/en/"><i class="fa-brands fa-tiktok"></i></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="https://twitter.com/x"><i class="fa-brands fa-x-twitter"></i></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
    </div>


    <div class="col-md-4">
      <div class="mt-4">
        <input type="email" class="form-control" placeholder="enter your email..">
        <button class="btn-main border-0 mt-3">Subscribe</button>
      </div>
    </div>

  </div>
</div>

</section>
