
<section>
  <div class="row g-0">
    <div class="col-md-10">
        <owl-carousel-o [options]="staticSlider">
          <ng-template carouselSlide> <img src="./assets/images/main-slider-1.jpeg" class="w-100" alt="" height="400"></ng-template>
          <ng-template carouselSlide> <img src="./assets/images/slide-1.jpeg" class="w-100" alt="" height="400"></ng-template>
          <ng-template carouselSlide> <img src="./assets/images/slide-2.jpeg" class="w-100" alt="" height="400 "></ng-template>

        </owl-carousel-o>
  </div>
     <div class="col-md-2">
      <img src="./assets/images/slide-1.jpeg" class="w-100" alt="" height="200">
      <img src="./assets/images/slide-2.jpeg" class="w-100" alt="" height="200">

     </div>
  </div>
</section>
<section class="my-3">
  <owl-carousel-o [options]="CategorirsSlider">

    <ng-container *ngFor="let item of categories">
      <ng-template carouselSlide [id]="item.id">
        <div>
          <img [src]="item.image" [alt]="item.name" class="w-100 slidersImg"/>
          <h3>{{item.name}}</h3>
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</section>

<section class="my-4 container-fluid">
  <input type="search" class="form-control my-3 mx-auto w-50" placeholder="search" [(ngModel)]="searchTerm" >
  <div class="row g-4">
    <div class="col-md-2 containner" *ngFor="let item of productArr |slice :0 :18 | search : searchTerm  ">
      <div class="product">
        <i class="fa-regular fa-heart hearts" (click)="addfav(item._id)" *ngIf="!favData.includes($any(item._id))"></i>
        <i class="fa-solid fa-heart hearts" (click)="removeFav(item._id)" *ngIf="favData.includes($any(item._id))"></i>
        <div [routerLink]="['/details' , item._id]" class="p-2 cursor-pointer">
         <img class="w-100" [src]="item.imageCover" [alt]="item.title"/>
        <h3 class="h6 text-success fw-bold">{{item.title.split(' ').slice(0 , 2).join(" ")}}</h3>
        <h4 class="h6"> {{item.category.name}}</h4>
        <div class="d-flex justify-content-between align-items-center rating-price">
          <span >{{item.price}} EGP</span>
         <div>
          <i [class.rating-color]="item.ratingsAverage >num" class="fas fa-star rating-color" *ngFor="let num of [1,2,3,4,5]"></i>
          <span class="text-muted">{{item.ratingsAverage}}</span>
        </div>
        </div>
        </div>
        <button (click)="addProductToCart(item._id)" class="btn-main w-100">Add Product</button>
      </div>
    </div>
  </div>
</section>
