<section class="mx-auto bg-light my-3 p-4 rounded mx-auto w-75">
  <h1>Login Now</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-2">
       <label for="email">email :</label>
    <input class="form-control" type="email" id="email" formControlName="email" #emailInput>
  </div>
  <div class="alert alert-danger" *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || emailInput.value.length >0)">
    <p *ngIf="loginForm.get('email')?.getError('required')">Email is Required</p>
  </div>

  <div class="mb-2">
    <label for="password">password :</label>
    <input class="form-control" type="password" id="password" formControlName="password" #passwordInput>
  </div>

  <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || passwordInput.value.length >0)">
    <p *ngIf="loginForm.get('password')?.getError('required')">password is Required</p>
  </div>

  <div class="d-flex justify-content-between align-items-center">
      <button class="btn  btn-main"> Login
      <i class="fas fa-spinner fa-spin" *ngIf="isLoading"></i>
    </button>
  <a class="link-primary cursor-pointer" routerLink="/forgetpasswordd">Forget Password</a>
  </div>

    <p *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</p>
  </form>
</section>
